@charset "utf-8";

/* Author: Ai Ishizuka by Studio702
Author URI: http://	 */

/*
===== CONTENTS =====================================================

	Index:
  - 1: Base Settings
  - 2: Main Visual
  - 3: Main Contents
  
===================================================================


----------------------------------------------------------------------------------------------*/


/* 1: Base Setting
===================================================================*/


/* Regulation-------------------------------------*/

html,body {
    font-family: 'YakuHanJP_Noto', 'Noto Sans JP', "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",Meiryo,Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: 500;    
    font-feature-settings: "palt";
    text-rendering: optimizeLegibility;
    background: #fff;
    color: #222;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    font-size: 20px;
}

/* Big Layout */

#about,#style,#news,#access {
    width: 100%;
    height: 100vh;
    min-height: 758px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.x {
    max-width: 1080px;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.back-txt::before {
    content: attr(data-eng);
    position: absolute;
    right: 0px;
    font-family: 'chelsea-market-open', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14rem;
    letter-spacing: .03em;
    color: #fff;
    opacity: .7;
    z-index: -1;
}


/* Base Styling */

h1 {    
    margin: 60px 0 6px 0;
    font-size: .83rem;
    letter-spacing: .16em;
}

h2 {
    display: block;
    text-align: left;
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    font-weight: 500;
    line-height: ;
    letter-spacing: ;
}

h2, h3 {
    text-align: left;
    letter-spacing: .1em;
}

p {
    text-align: justify;
    font-size: .76rem;
    letter-spacing: .06em;
    line-height: 2.1em;
}

a {
    letter-spacing: .06em;
    color: #257a01;
    text-decoration: none;
}

a:hover { 
    color: #28894B;
    opacity: 0.8s;
}

a img {
    border: none;
    height: auto;
}


/* Selection */

::selection {
    background: #c8c9ca;
    color: #000;
}

::-moz-selection {
    background: #c8c9ca;
    color: #000;
}

@media screen and (max-width: 640px) {
    
    .back-txt::before {
        content: none;
    }

    .x {
        width: 100%;
        padding: 0 40px;
    }
}

/* 2:  Main Visual
===================================================================*/


#top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.top-background {
    width: 50vw;
    height: 100vh;
    background: url("../images/MV_background.svg") repeat;
    background-position: -5px 120px;
    background-size: 100%;
    order: 2;
}

.top-title-set {
    width: 30%;
    height: auto;
    line-height: 1.4;
    order: 1;
    z-index: 1;
}

.title-name {
    display: block;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: .1rem;
}

.Logo {
    margin-top: 20px;
}

/* Navi Menu */

.t-nav-items {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    list-style-position: outside;
}

.t-nav-item {
    padding: .8rem .5rem 0 0;
}

.t-nav-item:last-child {
    margin-right: 0;
}

/* Navi Menu - Styling */

.nav-clk {
    display: block;
    position: relative;
    padding: 14px 40px 14px 30px;
    border-radius: 30px;
    border: 2px solid #dcdcdc;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .1rem;
    background-color: #fff;
    color: #257a01;
}

.nav-clk::after {
    content: "";
    display: block;
    position: absolute;
    top: 20.88px;
    right: 20px;
    width: 9px;
    height: 9px;
    border-top: 2px solid #257a01;
    border-right: 2px solid #257a01;
    transform: translateX(-50%) rotate(135deg);
}

.nav-clk:hover::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: .3s;
}


.nav-clk:hover {
    color: #fff;
    background-color: #257a01;
    border: 2px solid #257a01;
    transition: .3s;
}

/* Food Menu Pop-Up */

.menu-button {
    position: absolute;
    display: block;
    background-color: #f6f4ef;
    color: #257a01;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #dcdcdc;
    text-align: center;
    overflow: hidden;
    transition: .3s;
    top: 100px;
    right: 120px;
    z-index: 1;
}

.menu-button span {
    position: absolute;
    top: 51%;
    left: 21.5%;
    line-height: 1.6;
    font-weight: 700;
    font-size: 1.1rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menu-button:hover {
    display: block;
    color: #fff;
    background-color: #257a01;
}


/* Responsive Settings */

@media screen and (max-width: 640px) {
    
    #top {
        display: block;
        background: url("../images/MV_background.svg") repeat;
        background-size: 100%;
        height: 100vh;
    }

    .top-background {
        display: none;
    }

    .top-title-set {
        display: inline-block;
        padding: 0 50px;
        width: 100%;
        margin-top: 180px;  
    }

    .title-name {
        font-size: .8rem;
    }

    .Logo {
        width: 236px;
        height: 47px;
        margin-top: 5px;
    }

    h1 {
        font-size: .74rem;
        font-weight: 500;
        margin-top: 60px;
    }

    .t-nav-items {
        margin-top: 10px;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .t-nav-item {
        padding-top: 10px;
    }

    .nav-clk {
        padding: 14px 35px 14px 25px;
        font-size: .75rem;
    }

    .nav-clk::after {
        top: 19px;
        right: 14px;
    }

    .menu-button {
        background-color: #257a01;
        color: #fff;
        border: none;
        width: 120px;
        height: 120px;
        top: 60px;
        right: 30px;
    }

    .menu-button span {
        line-height: 1.4em;
        font-weight: 400;
        font-size: .9rem;
    }
}


/* 3: Main Contents 
    - 1.About 2.Style 3.News 4.Access 5.footer
    ** Each section has Responsive code@ **
===================================================================*/

/* 1.About -------------------------------------*/


#about {
    background-image: url(../images/Wave-01.svg);
    background-size: 100%;
    margin-top: 150px;
}

.back-txt[data-eng="ABOUT"]::before {
    top: -10px;
}

.ab-h2 {
    margin-top: 64px;
}

/* Contents start */

.about-inner {
    position: relative;
    top: 250px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.ab-text-set {
    width: 75%;
    padding: 60px;
    border: 1px solid #222;
}

.ab-copy {
    margin-top: 20px;
}

.ab-text-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.ab-text {
    width: 50%;
    height: auto;
    font-size: .86rem;
    line-height: 2.46;
    letter-spacing: .06em;
}

figure [src$="img-about01.jpg"] {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.ab-img-store {
    padding-left: 60px;
}


/* Responsive Settings - About -*/
@media screen and (max-width: 640px) {
    
    #about {
        background-size: 100%;
        margin-top: 110px;
        height: auto;
        min-height: auto;
    }

    .about-inner {
        flex-direction: column;
        top: 160px;
        position: static;
    }

    .ab-h2 {
        margin-top: 80px;
    }

    .ab-text-set {
        padding: 0 0 0 60px;
        border: none;
        margin-top: 60px;
        width: 100%;
    }

    .ab-text-img {
        display: block;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }
    .ab-text {
        width: 100%;
        font-weight: 400;
        font-size: .77rem;
        line-height: 2.5;
    }

    .ab-img-store {
        padding: 0;
        margin-top: 20px;
    }

}
    


/* 2.Style = concept -------------------------------------*/


#style {
    background-image: url(../images/wave-02-3.svg);
    background-size: cover;
    min-height: 850px;
}

.back-txt[data-eng="STYLE"]::before {
    top: -10px;
}

.s-h2 {
    padding-top: 170px;
}


/* Contents start*/

.s-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 100px;
    padding: 0 8%;
}

.s-text-set {
    margin: 0 50px;
}

.s-list-one::before {
    content: "";
    position: absolute;
    top: 40%;
    height: 110px;
    border-right: 1px solid #257a01;
}

.s-list-one:first-child::before {
    border-right: none;
}

.s-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    width: auto;
    padding-bottom: 10px;
}

.s-icon img {
    width: 120px;
    height: auto;
}

.s-h3 {
    padding: 26px 18px 12px;
    text-align: center;
    font-weight: 500;
    line-height: 1.4;
    background-color: #fff;
    border-radius: 100px 100px 4px 4px;
}

.s-text-set p {
    margin-top: 20px;
}


/* Responsive Settings - Style - */
@media screen and (max-width: 640px) {

    #style {
        margin-top: 80px;
        position: static;
        min-height: auto;
        height: auto;
    }

    .s-h2 {
        padding-top: 100px;
    }

    .s-list {
        flex-wrap: wrap;
        margin-top: 40px;
        padding: 0;
    }

    .s-list-one::before {
        content: none;
    }

    .s-list-one {
        margin-top: 30px;
    }

    .s-text-set {
        margin: 10px 0 0 0;
        padding: 0 50px;
    }

    .s-icon {
        padding-bottom: 0;
        height: 120px;
    }
    .s-icon img {
        width: 100px;
    }

    .s-text-set p {
        margin-top: 15px;
    }

    .s-h3 {
        width: 160px;
    }
}


/* 3.News -------------------------------------*/

#news {
    background-image: url(../images/wave-03.svg);
    background-position: right;
    background-size: calc(70vw + 110px);
}

.back-txt[data-eng="NEWS"]::before {
    top: 170px;
}

/* Contents start */

.news-inner {
    position: relative;
    top: 400px;
}

.n-archive {
    width: 50%;
    height: 130px;
    margin: 30px auto 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
}

.archive-list {
    display: flex;
    flex-wrap: wrap;
    font-size: .88rem;
    letter-spacing: .03em;
}

.archive-list a {
    padding: 8px 18px;
}

.n-title {
    flex-basis: 30%;
    margin-top: 25px;
    padding-left: 28px;
}

.n-date {
    flex-basis: 70%;
    margin-top: 25px;
}


/* Responsive Settings -News- */
@media screen and (max-width: 640px) {

    #news {
        height: 70vh;
        min-height: auto;
        background-size: 75%;
        margin-top: 140px;
    }
    
    .news-inner {
        position: static;
    }

    .n-archive {
        width: 85%;
        height: auto;
        margin: 60px 0 0 auto;
        border-left: 2px solid #f00;
    }
    
    .archive-list {
        display: block;
    }

    .n-title {
        font-size: .77rem;
        margin-top: 30px;
        padding-left: 15px;
    }
    .n-date {
        text-indent: -1em;
        margin-top: 12px;
        padding-left: 35px;
    }
    .n-title:first-child {
        margin-top: 10px;
    }
    .n-date:last-child {
        margin-bottom: 10px;
    }
}


/* 4.Access -------------------------------------*/

#access {
    background-image: url(../images/wave-04.svg);
    background-size: cover;
    height: 80vh;
}

.ac-h3 {
    font-size: 1.1rem;
    letter-spacing: .08em;
}


/* Contents start */

.ac-text-map {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content:space-around;
    margin-top: 180px;
}

.ac-text-set {
    font-style: normal;
}

.ad-text {
    margin-top: 30px;
    font-size: .84rem;
    line-height: 1.8em;
}

.address-text a {
    margin-left: 6px;
}

.note-1 {
    display: block;
    margin: 5px 0 20px;
}


/* Opening, Closing hours */

.info-set {
    width: 80%;
    line-height: 2.4;
    padding: 12px;
    border: 2.6px solid #eeeeef;
    border-radius: 24px;
    background-color: #fff;
    font-size: .8rem;
}

.info-title {
    float: left;
    width: 30%;
    padding-right:20px;
    text-align: right;
    letter-spacing: .04rem;
}

.info-content {
    display: table-cell;
    border-left: 4px solid #eeeeef;
    padding-left: 20px;    
    letter-spacing: .07em;
    font-weight: 500;
}

.ac-hL {
    background-color: #fffc82;
}

/* Notes */

.notes {
    margin-top: 12px;
    clear: both;
}

.point {
    font-size: .7rem;
    letter-spacing: .1em;
    line-height: 1.65em;
}

.note-2-link {
    margin-left: 6px;
    padding-bottom: 1px;
    border-bottom: 1px solid #257a01;
}

.note-3 {
    margin-bottom: 12px;
}

.ac-bold {
    font-weight: 500;
}

.ast::before {
    content: "※";
}

.hy::before {
    content: "- ";
}

.br {
    display: none;
}

/* Google-Map */

.g-map {
    overflow: hidden;
    padding-left: 70px;
}


/* Responsive Settings -News- */
@media screen and (max-width: 640px) {

    #access {
        height: auto;
    }
    .ac-text-map {
        flex-wrap: wrap;
        margin-top: 80px;
    }

    .ad-text {
        font-size: .76rem;
    }

    .info-set {
        width: 100%;
    }

    .info-title {
        padding-right: 10px;
    }

    .br {
        display: block;
    }

    .notes {
        margin-top: 20px;
    }

    .note-1 {
        margin-bottom: 20px;
    }

    .note-2-link {
        display: block;
        text-align: right;
        border: none;
        margin: 0;
        padding: 0;
    }

    .note-3 {
        margin-bottom: 25px;
    }

    .point {
        letter-spacing: .06em;
        text-indent: -1em;
        padding-left: 20px;
    }

    .g-map {
        padding-left: 0;
        margin-top: 40px;
    }

    iframe {
        height: 300px;
        width: 300px;
    }

    .arrow::before {
        content: '→';
    }

}

/* Footer -------------------------------------*/


#footer {
    padding: 50px 0px 30px;
}


/* Contents start */

.footer-set {
    text-align: center;
}

.f-copyright {
    display: block;
    font-size: .6rem;
    letter-spacing: .1em;
    margin-top: 35px;
}



/* Responsive Settings -Footer- */
@media screen and (max-width: 640px) {

    #footer {
    margin-top: 50px;
    padding-bottom: 30px;
    }
    
    .f-copyright {
        margin-top: 20px;
        font-size: .3rem;
    }
}

/*----------------------------------------------------------------------------------------------*/