@charset "utf-8"
/* 全体スタイル調整 */
:root {
    font-size: 15px;
}
* {
    box-sizing: border-box;
}
h1,
h2,
h3 {
    margin-top: 0;
    line-height: 1.5;
    letter-spacing: 0.2em;
    text-align: center;
}
h3 {
    color: #85a7cc;
    font-size: 1rem;
    margin-bottom: 3rem;
}
body{
    font-family: 'Noto Sans JP',
    'Open Sans', sans-erif;
    font-weight: 400;
    color: #333;
    background-color: #fff;
}
a {
    color: #257a01;
    text-decoration: none;
}
a img {
    border: none;

}
a:hover {
    color: black;
    text-decoration: underline;
}
p{
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: justify;
}
ul {
    margin: 1rem 0;
    padding: 0;
    list-style: none;
}
img {
    height: auto;
}

section {
    padding: 2rem 0;
}
/* Header */

#top {
    display: block;
    background-color: #fff;
    padding: 1.5rem 2rem;
}
#top a {
    color: #444;
}
#top a:hover {
    color: #45c80d;
}
.logo {
    line-height: 1;
    margin-bottom: 1rem;
}

.header-nav-items {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}
.header-nav-item{
    margin: 0 1 rem 0 0;
    text-transform: uppercase;
}
.header-nav-item:last-child {
    margin-right: 0;
}


