@charset "utf-8";

/* Author: Ai Ishizuka by Studio702
Author URI: http://	 */

/*
===== CONTENTS =====================================================

	Index:
  - 1: Base Setting
  - 2: Main Visual
  - 3: Main Contents
  
===================================================================


----------------------------------------------------------------------------------------------*/


/* 1: Base Setting
===================================================================*/


/* Regulation-------------------------------------*/

html,body {
    font-family: 'YakuHanJP_Noto', 'Noto Sans JP', "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",Meiryo,Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;    
    font-feature-settings: "palt";
    text-rendering: optimizeLegibility;
    background: #fff;
    color: #222;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    font-size: 20px;
}

/* Big Layout */

.x {
    max-width: 1080px;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

#about,#style,#news,#access {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.b-txt::before {
    content: attr(data-eng);
    position: absolute;
    right: 0px;
    font-family: 'chelsea-market-open', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14rem;
    letter-spacing: .03em;
    color: #fff;
    opacity: .7;
    z-index: -1;
}


/* Base Styling */

h1 {    
    margin: 60px 0 6px 0;
    font-size: .83rem;
    letter-spacing: .16em;
}

h2 {
    display: block;
    text-align: left;
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    font-weight: 500;
    line-height: ;
    letter-spacing: ;
}

h2, h3 {
    text-align: left;
    letter-spacing: .1em;
}

p {
    text-align: justify;
    font-size: .76rem;
    letter-spacing: .06em;
    line-height: 2.1em;
}

a {
    letter-spacing: .06em;
    color: #257a01;
    text-decoration: none;
}

a:hover { 
    color: #28894B;
    opacity: 0.8s;
}

a img {
    border: none;
    height: auto;
}


/* Selection */

::selection {
    background: #c8c9ca;
    color: #000;
}

::-moz-selection {
    background: #c8c9ca;
    color: #000;
}



/* 2: Main Visual 
    -1.Main Visual 2.Responsive for phone
===================================================================*/


/* 1.Main visual -------------------------------------*/


.title-set {
    line-height: 1.4;
}

.title-name {
    display: block;
    margin-bottom: .8rem;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: .1rem;
}

#MV {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.top-background {
    width: 50vw;
    height: 100vh;
    background: url("../images/MV_background.svg") repeat;
    background-position: -5px 120px;
    background-size: 100%;
    order: 2;
}

.top {
    width: 30%;
    height: auto;
    order: 1;
    z-index: 1;
}

/* Navi Menu */

.header-nav-items {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    list-style-position: outside;
}

.header-nav-item {
    padding: .8rem .5rem 0 0;
}

.header-nav-item:last-child {
    margin-right: 0;
}

/* Navi Menu - Styling */

.click {
    display: block;
    position: relative;
    padding: 14px 40px 14px 30px;
    border-radius: 30px;
    border: 2px solid #dcdcdc;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .1rem;
    background-color: #fff;
    color: #257a01;
}

.click::after {
    content: "";
    display: block;
    position: absolute;
    top: 20.88px;
    right: 20px;
    width: 9px;
    height: 9px;
    border-top: 2px solid #257a01;
    border-right: 2px solid #257a01;
    transform: translateX(-50%) rotate(135deg);
}

.click:hover::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: .3s;
}


.click:hover {
    color: #fff;
    background-color: #257a01;
    border: 2px solid #257a01;
    transition: .3s;
}

/* Food Menu Pop-Up */

.Menu-Button {
    position: absolute;
    display: block;
    background-color: #f6f4ef;
    color: #257a01;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #dcdcdc;
    text-align: center;
    overflow: hidden;
    transition: .3s;
    top: 100px;
    right: 120px;
    z-index: 1;
}

.Menu-Button span {
    position: absolute;
    top: 51%;
    left: 21.5%;
    line-height: 1.6;
    font-weight: 700;
    font-size: 1.1rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.Menu-Button:hover {
    display: block;
    color: #fff;
    background-color: #257a01;
}

/* 4.Responsive - for Phone -------------------------------------*/

@media screen and (max-width: 640px) {
    
    .top-background {
        width: 100vw;
    }

    .top {
        width: 0%;
    }
    
    .title-set {
        margin: 0 0 0 0;
        width: 100vw;
        padding: 2rem;
    }

    .Menu-Button {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .Logo {
        width: 236px;
        height: 47px;
    }

    .Wrapper {
        height: auto;
        align-items: flex-end;
    }

    h1 {
        font-size: .7rem;
        margin: 1.6rem 0 .3rem 0;
    }

    .title-name {
        margin-bottom: .4rem;
        font-size: .8rem;
    }

    .header-nav-items {
        display: block;
        margin: 0 0 2.7rem 0;
    }
    
    .header-nav-item {
        padding: .48rem 0 0 0;
    }

    .click {
        padding: .6rem 1.2rem;
        font-size: .75rem;
    }

    .Menu-Button {
        display: block;
        text-decoration: none;
        background-color: #257a01;
        color: #fff;
        border: none;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        text-align: center;
        overflow: hidden;
    }

    .Menu-Button span {
        position: absolute;
        top: 51%;
        left: 21.5%;
        line-height: 1.4;
        font-weight: normal;
        font-size: .9rem;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}


/* 3: Main Contents 
    - 1.About 2.Style 3.News 4.Access 5.footer
    ** Each section has Responsive code@ **
===================================================================*/

/* 1.About -------------------------------------*/


#about {
    background-image: url(../images/Wave-01.svg);
    background-size: 100%;
    margin-top: 150px;
}

.b-txt[alt="about"]::before {
    top: -10px;
}

.a-h2 {
    margin-top: 64px;
}

/* Contents start */

.about-inner {
    position: relative;
    top: 250px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.a-inner {
    width: 75%;
    padding: 60px;
    border: 1px solid #222;
}

.a-copy {
    margin-top: 20px;
}

.a-text-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.a-text {
    width: 50%;
    height: auto;
    font-size: .86rem;
    line-height: 2.46;
    letter-spacing: .06em;
}

figure [src$="img-about01.jpg"] {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.a-store-img {
    padding-left: 60px;
}


/* 2.Style = concept -------------------------------------*/


#style {
    height: 90vh;
    background-image: url(../images/wave-02-3.svg);
    background-size: cover;
}

.b-txt[alt="style"]::before {
    top: -10px;
}

.s-h2 {
    padding-top: 120px;
}


/* Contents start*/

.s-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 100px;
    padding: 0 8%;
}

.s-text {
    margin: 0 50px;
}

.s-set::before {
    content: "";
    position: absolute;
    top: 40%;
    height: 110px;
    border-right: 1px solid #257a01;
}

.s-set:first-child::before {
    border-right: none;
}

.s-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    width: auto;
    padding-bottom: 10px;
}

.s-set .s-icon img {
    width: 120px;
    height: auto;
}

.s-set .s-text h3 {
    padding: 26px 18px 12px;
    text-align: center;
    font-weight: 500;
    line-height: 1.4;
    background-color: #fff;
    border-radius: 100px 100px 4px 4px;
}

.s-set .s-text p {
    margin-top: 20px;
}


/* 3.News -------------------------------------*/

#news {
    background-image: url(../images/wave-03.svg);
    background-position: right;
    background-size: calc(70vw + 110px);
}

.b-txt[alt="news"]::before {
    top: 230px;
}

/* Contents start */
/* Opening, Closing hours */

.news-inner {
    position: relative;
    top: 400px;
}

.archive {
    width: 50%;
    height: 130px;
    margin: 30px auto 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
}

.archive-list {
    display: flex;
    flex-wrap: wrap;
    font-size: .88rem;
    letter-spacing: .03em;
}

.archive-list a {
    padding: 8px 18px;
}

.news-title {
    flex-basis: 30%;
    margin-top: 25px;
    padding-left: 28px;
}

.news-date {
    flex-basis: 70%;
    margin-top: 25px;
}

/*.archive-see-all {
    display: inline-block;
    padding: 8px;
    margin-left: 90%;
    margin-top: 46px;
    font-size: .88rem;
}*/


/* 4.Access -------------------------------------*/

#access {
    background-image: url(../images/wave-04.svg);
    background-size: cover;
    height: 80vh;
}

.ac-h3 {
    font-size: 1.1rem;
    letter-spacing: .08em;
}


/* Contents start */

.ac-text-map {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content:space-around;
    margin-top: 180px;
}

address {
    font-style: normal;
}

.address-text {
    margin-top: 30px;
    font-size: .84rem;
    line-height: 1.8em;
}

.address-text a {
    margin-left: 6px;
}

.note-1 {
    display: block;
    margin: 5px 0 20px;
}


/* Opening, Closing hours */

.info-set {
    width: 80%;
    line-height: 2.4;
    padding: 12px;
    border: 2.6px solid #eeeeef;
    border-radius: 24px;
    background-color: #fff;
    font-size: .8rem;
}

.info-title {
    float: left;
    width: 30%;
    padding-right:20px;
    text-align: right;
    letter-spacing: .04rem;
}

.info-content {
    display: table-cell;
    border-left: 4px solid #eeeeef;
    padding-left: 20px;    
    letter-spacing: .07em;
    font-weight: 500;
}

.highlight {
    background-color: #fffc82;
}

/* Notes */

.note-set {
    margin-top: 12px;
    clear: both;
}

.point {
    font-size: .7rem;
    letter-spacing: .1em;
    line-height: 1.65em;
}

.note-2-link {
    margin-left: 6px;
    padding-bottom: 1px;
    border-bottom: 1px solid #257a01;
}

.note-3 {
    margin-bottom: 12px;
}

.bold {
    font-weight: 500;
}

.as::before {
    content: "※";
}

.hy::before {
    content: "- ";
}


/* Google-Map */

.gmap {
    overflow: hidden;
    padding-left: 70px;
}


/* Footer -------------------------------------*/


#footer {
    padding: 50px 0px 30px;
}


/* Contents start */

.footer-set {
    text-align: center;
}

.copyright {
    display: block;
    font-size: .6rem;
    letter-spacing: .1em;
    margin-top: 35px;
}


/*----------------------------------------------------------------------------------------------*/